@using Playground.WebAdmin.Models.Blog
@model ArticleDetailVM

@{
    Layout = "CoreUI/_LayoutCoreUI";

    var isCreateNewArticle = Model.ArticleDetail.Id == Guid.Empty;
    if (isCreateNewArticle)
    {
        ViewData["Title"] = "Create new article";
    }
    else
    {
        ViewData["Title"] = Model.ArticleDetail.Title;
    }
}

<form asp-controller="Blog" asp-action="Modify" method="post">
    <input asp-for="ArticleDetail.Id" type="hidden" id="article-id" />
    <div class="container-fluid">
        <a class="btn btn-primary mb-3" href="@Url.ActionLink("Index","Blog")" role="button">
            <i class="fa-solid fa-arrow-left icon me-2"></i></i>Back
        </a>
        <div class="row">
            <div class="col-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input asp-for="ArticleDetail.Title" type="text" id="article-title" class="form-control" placeholder="Title" aria-label="Title">
                                    <label for="article-title">Title</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="form-floating" style="flex: 1">
                                        <input asp-for="ArticleDetail.Slug" type="text" id="article-slug" class="form-control" placeholder="Slug" aria-label="Slug">
                                        <label for="article-slug">Slug</label>
                                    </div>
                                    <button type="button" id="btn-slug-generate" class="btn btn-primary"><i class="fa-solid fa-rotate-left"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <textarea asp-for="ArticleDetail.Description" class="form-control" id="article-description" rows="5" style="resize: none; height: 7.5rem"></textarea>
                                    <label for="article-description">Description</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input asp-for="ArticleDetail.CoverImage" type="text" id="article-cover-image" class="form-control" placeholder="Cover Image Url" aria-label="Cover Image">
                                    <label for="article-cover-image">Cover Image URL</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <textarea asp-for="ArticleDetail.Content" class="form-control" id="article-content" rows="10" style="resize: none; height: 15rem"></textarea>
                                    <label for="article-content">Content</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <div class="card bg-light">
                                        <div id="article-md-review" class="card-body">
                                            Preview
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    @if (isCreateNewArticle)
                    {
                        <button type="submit" class="btn btn-primary" style="width:100%">Create</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-warning" style="width:100%">Save</button>
                    }
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mb-3">
                                <label class="form-label">State</label>
                                <select asp-for="ArticleDetail.State" class="form-select" id="article-state">
                                    <option value="-1">Archived</option>
                                    <option value="0" selected>Draft</option>
                                    <option value="1">Published</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label class="form-label" for="article-published-date">Published Date</label>
                                <input asp-for="ArticleDetail.PublishDate" type="date" id="article-published-date" class="form-control" name="article-published-date">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label class="form-label" for="article-tags">Tags</label>
                                @if (Model.Tags != null)
                                {
                                    <select asp-for="ArticleTagIds" class="form-select" id="article-tags">
                                        @foreach (var tag in Model.Tags)
                                        {
                                            <option value="@tag.Id">@tag.Name</option>
                                        }
                                    </select>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Styles{
    <style>
        #article-md-review img {
            max-width: 100%;
        }

        #article-md-review pre {
            background: #c8d2dc;
            padding: 8px;
        }

    </style>
}

    @section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <script>
        $(document).ready(() => {
            $('#article-tags').select2({
                multiple: true
            });

            if ($("#article-content").val()) {
                document.getElementById('article-md-review').innerHTML =
                    marked.parse($("#article-content").val());
            }

            $("#article-content").on("keyup", (e) => {
                document.getElementById('article-md-review').innerHTML =
                    marked.parse(e.currentTarget.value);
            });

            $('#btn-slug-generate').on("click", (e) => {
                getSuggestSlug();
            });
            
            $('#article-title').on('blur', () => {
                getSuggestSlug();
            });

            async function getSuggestSlug()
            {
                const title = $("#article-title").val();
                var suggestSlug = await $.get('@Url.ActionLink("GetSuggestionSlug","Blog")', {
                    title,
                    articleId: $("#article-id").val()
                });
                $('#article-slug').val(suggestSlug);
            }
        });
    </script>
    }