@{
    ViewData["Title"] = "Blog Management";
    Layout = "CoreUI/_LayoutCoreUI";
}

<div class="container-lg">
    <div class="card mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div>
                    <h4 class="card-title mb-0">Blog Management</h4>
                </div>
                <div class="btn-toolbar d-none d-md-block" role="toolbar" aria-label="Toolbar with buttons">
                    <button class="btn btn-primary" type="button">
                        <i class="fa-solid fa-plus icon me-2"></i> Add Article
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>