<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">
        <span class="sidebar-brand-full">Bao Nguyen</span>
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        @*<li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fa-solid fa-gauge nav-icon"></i> Dashboard
            </a>
            </li>*@
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Blog")">
                <i class="fa-solid fa-newspaper nav-icon"></i> Blog
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Setting")">
                <i class="fa-solid fa-gear nav-icon"></i> Setting
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/swagger/index.html">
                <i class="fa-solid fa-book nav-icon"></i> API
            </a>
        </li>
        <li class="nav-divider"></li>
    </ul>
    <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
</div>