@{
    ViewData["Title"] = "Home Page";
    Layout = "CoreUI/_LayoutCoreUI";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <h2 class="display-4">Bao Nguyen Playground Admin</h2>
</div>
